{% extends "base.html" %}

{% block content %}
  <h1>
    Task Type List
    <a href="{% url 'planer:tasktype-create' %}" class="btn btn-primary link-to-page">Create</a>
  </h1>

  {% if tasktype_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Task Type Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for tasktype in tasktype_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ tasktype.name }}</td>
            <td>
              <a href="{% url 'planer:tasktype-delete' tasktype.id %}" class="btn btn-sm btn-danger">
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No task types available</p>
  {% endif %}
{% endblock %}

